{% extends 'record/base.html' %}
{% load crispy_forms_tags %}
{% block title %}New call{% endblock %}
{% block data %}
<div class="container">
        <form method="POST" id="edit_form">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Info</legend>
                {{ call_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary" type="submit" id="update">Update</button>
            </div>
        </form>
</div>
{% endblock %}