<!DOCTYPE html>
<html lang="en">
{% load static %}


<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <title>{% block title %}Oncall Record{% endblock %}</title>
</head>

<body>
  <nav class="navbar navbar-dark navbar-expand bg-primary">
    <div class="container">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active"><a href="{% url 'dashboard' %}" class="nav-link">Dashboard</a></li>
        <li class="nav-item"><a href="{% url 'search' %}" class="nav-link">Search</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Useful Info</a></li>
      </ul>
      <h1 class="navbar-brand mx-auto">Brand</h1>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="#" class="nav-link">Roster</a></li>
        {% if user.is_authenticated %}
        <li class="nav-item"><a href="#" class="nav-link">Profile</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Logout</a></li>
        {% else %}
        <li class="nav-item"><a href="#" class="nav-link">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
  <main>
    {% block dashboard %}
    {% endblock %}
  </main>
  <footer></footer>
  
  {% block js %}
  <!-- Adding Boostrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  {% endblock js %}
</body>

</html>