body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.nav{
    width: 100%;
    background: #1E90FF;
    position: fixed;
    top: 0px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.nav ul{
    width: 30%;
    height: 100%;
    display:flex;
    justify-content: space-around;
}

.nav li{
    display: inline;
    font-size: 15px;
}

nav .title{
    width: 40%;
    color: white;
    text-align: center;
}

.nav .utils{
    padding-right: 40px;
    padding-left: 0px;
}

.nav-link:link, .nav-link:visited{
    color: white;
    text-decoration: none;
}

.nav-link:hover{
    color:grey;
}

.main-container{
    position: relative;
    width: 90%;
    margin: 0 5% 0 5%;
    top: 80px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-areas:
        "header header"
        "left right"
        "bottom bottom";
    text-align: center;
}

.main-header{
    grid-area: header;
    border: 1px solid grey;
    border-radius: 5px;
}

.main-left{
    grid-area: left;
    border: 1px solid grey;
    border-radius: 5px;

}

.main-right {
    grid-area: right;
    border: 1px solid grey;
    border-radius: 5px;
}

.main-bottom{
    grid-area: bottom;
    border: 1px solid grey;
    border-radius: 5px;
}